@model Ratp.Hidalgo.Web.ViewModel.ProgrammationVm

@{
    ViewBag.Title = "ProgrammationProposeePGE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="~/Controllers/CalculController.cs">~/Controllers/CalculController.cs</a>
<br />
<div class="row">
    <ol class="breadcrumb">
        <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
        <li><a href="#">Hidalgo</a></li>
        <li class="active">Nouvelle Programmation <strong><span data-bind="Value: anneeSaisie"></span>@Model.AnneeProgrammation</strong></li>
    </ol>
</div>

<fieldset class="form-group">
    @using (Html.BeginForm("ProgrammationPGE", "Calcul", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">PROGRAMMATION PROPOSEE PAR LE MODULE HIDALGO : @Model.SelectedNatureTravaux</div>
                <div class="panel-body">

                    @Html.Partial("_TableauProgrammationProposeePGEView")

                   
                </div>
            </div>
        </div>
        <div class="row text-right col-md-12">
            <button id="SaveProgrammation" type="submit" class="btn btn-success col-md-3 col-lg-offset-2" data-bind="click: EnregistreProgrammation">Enregistrer la programmation</button>
            <button id="SaveExAequo" class="btn btn-default col-md-3 col-lg-offset-2" data-bind="click: ValideEXAEQUO">Valider les EX AEQUO</button>
        </div>
    }
</fieldset>
