<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
   
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container name="Ratp.Hidalgo.App">
      <register type="Ratp.Hidalgo.App.Contract.IHidalgoApp, Ratp.Hidalgo.App.Contract" mapTo="Ratp.Hidalgo.App.HidalgoApp, Ratp.Hidalgo.App" />
      <register type="Ratp.Hidalgo.App.Contract.ICalibrageApp, Ratp.Hidalgo.App.Contract" mapTo="Ratp.Hidalgo.App.CalibrageApp, Ratp.Hidalgo.App" />
      <register type="Ratp.Hidalgo.App.Contract.ICalculServiceApp, Ratp.Hidalgo.App.Contract" mapTo="Ratp.Hidalgo.App.CalculServiceApp, Ratp.Hidalgo.App" />
    </container>
    <container name="Ratp.Hidalgo.Model">
      <register type="Ratp.Hidalgo.Data.Contract.IHidalgoUnitOfWork, Ratp.Hidalgo.Data.Contract" mapTo="Ratp.Hidalgo.Model.HidalgoUnitOfWork, Ratp.Hidalgo.Model" />
      <register type="Ratp.Hidalgo.Data.Contract.Repositories.IHidalgoRepository, Ratp.Hidalgo.Data.Contract" mapTo="Ratp.Hidalgo.Model.Repositories.HidalgoRepository, Ratp.Hidalgo.Model" />
      <register type="Ratp.Hidalgo.Data.Contract.Repositories.ICriterePerformanceRepositorie, Ratp.Hidalgo.Data.Contract" mapTo="Ratp.Hidalgo.Model.Repositories.CriterePerformanceRepositorie, Ratp.Hidalgo.Model" />
      <register type="Ratp.Hidalgo.Data.Contract.Repositories.ICalibrageRepositorie, Ratp.Hidalgo.Data.Contract" mapTo="Ratp.Hidalgo.Model.Repositories.CalibrageRepositorie, Ratp.Hidalgo.Model" />
      <register type="Ratp.Hidalgo.Data.Contract.Repositories.ILigneRepositorie, Ratp.Hidalgo.Data.Contract" mapTo="Ratp.Hidalgo.Model.Repositories.LigneRepositorie, Ratp.Hidalgo.Model" />
    </container>
  </unity>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="UrlSchemasXml" value="C:\SerializeToXml\{0}"/>
  </appSettings>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="20" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5 rms %-22.22c{1} %18.18M - %m%n" />
      </layout>
    </appender>
    <!--<appender name="RollingFileXml" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\XmlFile.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1000KB"/>
      <maxSizeRollBackups value="20"/>
      <layout type="log4net.Layout.XMLLayout">
        <param name="DateTime" value="%level"/>
        <param name="DateTime" value="%date"/>
        <param name="DateTime" value="%identity"/>
        <param name="DateTime" value="%logger"/>
        <param name="DateTime" value="%M"/>
        <param name="DateTime" value="%message"/>
        <param name="DateTime" value="%exception"/>
      </layout>
    </appender>-->

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
</configuration>
